:root {
    --dark-blue-color: rgb(0, 0, 50);
}

* {
    padding: 0;
    margin: 0;
}

.sider {
    box-shadow: 1px 0px 10px rgba(100, 100, 100, 0.2);
}

.sidebar-layout {
    min-height: 100vh;
}

.title-wrapper {
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin-left: 1.5em;
    padding: 1em 0;
    gap: 0.5em;
}

.title-logo {
    width: 2.25em;
    height: auto;
}

.title {
    color: var(--dark-blue);
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title.collapsed {
    display: none;
}

.title-line {
    width: 100%;
    height: 2px;
    background-color: gray;
}

.menu-wrapper {
    font-weight: 600;
    margin: 0.5em 0;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-layout .ant-layout-sider-light .ant-layout-sider-trigger {
    color: black;
    border-top: 2px solid gray;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-menu .ant-menu-item,
:where(.css-dev-only-do-not-override-pr0fja).ant-menu .ant-menu-submenu,
:where(.css-dev-only-do-not-override-pr0fja).ant-menu .ant-menu-submenu-title {
    border-radius: 0;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-pr0fja).ant-menu-light>.ant-menu .ant-menu-item-selected {
    color: white;
    background-color: var(--dark-blue-color);
}

:where(.css-dev-only-do-not-override-pr0fja).ant-switch.ant-switch-checked {
    background: var(--dark-blue-color);
}

:where(.css-dev-only-do-not-override-pr0fja).ant-input-affix-wrapper {
    border-radius: 0;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:first-child {
    border-start-start-radius: 0;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:last-child {
    border-start-end-radius: 0;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-btn {
    border-radius: 0;
}

.capitalize-text {
    text-transform: capitalize;
}